<!DOCTYPE html>
<html>
<head>
  <title>BookShop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

<%= cell(:main, current_user).(:header_top) %>
<%= cell(:main).(:header_bottom) %>
<div class="main">
  <%= yield %>
</div>
<%= cell(:main).(:footer) %>

<!-- Alert, Success, Error, Warning, Information, Confirm -->

<%= render 'layouts/flash_message' %>

</body>
</html>
