<!DOCTYPE html>
<html>
<head>
  <title>BookShop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

<%= cell(:main, current_user).(:header_top) %>
<%= cell(:main).(:header_bottom) %>
<div class="main">
  <%= yield %>
</div>
<%= cell(:main).(:footer) %>

<!-- Alert, Success, Error, Warning, Information, Confirm -->

<script>
  $(function(){
    <% flash.each do |type, msg| %>
      var type;
      <% if type == 'alert' %>
        type = 'warning'
      <% elsif type == 'notice' %>
        type = 'information'
      <% else %>
        return;
      <% end %>
      var n = noty({
        type: type,
        text: '<%= msg %>',
        layout: 'topRight',
        dismissQueue: true,
        theme: 'bootstrapTheme',
        animation: {
          open: 'animated bounceInLeft', // Animate.css class names
          close: 'animated bounceOutLeft', // Animate.css class names
          easing: 'swing', // easing
          speed: 500 // opening & closing animation speed
        }
      });
    <% end %>
    <% flash.clear %>
  });
</script>

</body>
</html>
