<div class="wrap">
  <div class="form-horizontal">
    <div class="form-group">
      <%= label_tag nil, "用户名:", class: 'col-lg-1'%>
      <%= label_tag nil, current_user.email, class: 'col-lg-1'%>
    </div>
    <div class="form-group">
      <%= label_tag nil, "账户余额 ￥:", class: 'col-lg-1'%>
      <%= label_tag nil, current_user.account.amount, class: 'col-lg-1'%>
    </div>

    <div class="form-group">
      <%= link_to "充值", accounts_pay_path, class: 'col-lg-1 btn btn-primary',method: 'get',remote: true %>
    </div>
  </div>
</div>